<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Votes</th>
      <th>Upvote</th>
      <th>Downvote</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_topic_path(topic), method: :post, class: 'btn btn-success' %>
        </td>
        <td><%= button_to '-1', downvote_topic_path(topic), method: :post, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Alphabetical Sort', topics_path %>
<!--direction: is my variable, it can be used in the controller as params[:direction] -->
<%= link_to '&darr; Sort by votes'.html_safe, topics_path(direction: 'desc') %> 
<%= link_to '&uarr; Sort by votes'.html_safe, topics_path(direction: 'asc') %>