<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
 <header>
  <nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li> <%= link_to "Home", topics_path %> </li>
            <li><%= link_to "New Topic", new_topic_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
            <li><%=link_to "Login", new_user_session_path %></li>
        </ul>
    </div>
</nav>
 </header> 
  <div class='content'>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
